---
import TRow from './TRow.astro';
---

<div class="overflow-x-auto">
    <table class="table">
        <caption class="lg:text-base font-semibold leading-10">Ryczałt od przychodów ewidencjonowanych – abonament stały</caption>
        <thead class="bg-base-300">
            <tr>
                <th>Ilość dokumentów – wpisów</th>
                <th>Opłata miesięczna</th>
            </tr>
        </thead>
        <tbody>
            <TRow>
                <td>od 0 do 30 </td>
                <td>300,00 zł</td>
            </TRow>
            <TRow>
                <td>każde dodatkowe 10 wpisów</td>
                <td>+ 60,00 zł</td>
            </TRow>
        </tbody>
    </table>
</div>
