---
import Heading from '../components/Heading.astro';
import InfoIcon from '../components/svg/InfoIcon.astro';
import Table from '../components/Table.astro';
import BasicLayout from '../layouts/BasicLayout.astro';
---

<BasicLayout>
    <Heading tag="h2">Cennik</Heading>

    <div>
        <!-- Intro -->
        <div class="m-auto max-w-xl mb-6">
            <p class="text-lg lg:text-2xl bolder text-center" data-aos="fade-up">
                Tutaj znajdziesz szczegółowy cennik naszych usług księgowych oraz kadrowo-płacowych.
            </p>
        </div>
        <!-- VAT Info -->
        <div class="w-full">
            <div class="m-auto w-fit">
                <div class="badge badge-neutral badge-outline py-7 lg:p-4">
                    <InfoIcon class="size-10 lg:size-5" />Wszystkie podane ceny są cenami netto. Należy doliczyć podatek VAT (aktualnie 23%).
                </div>
            </div>
        </div>
    </div>

    <!-- Pricing Table -->
    <section>
        <Heading tag="h3" class="mt-16 mb-10">Cennik usług księgowych</Heading>

        <Table />
    </section>
</BasicLayout>
