---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";
import logoGray from "../../public/ps-logo-gray.png";
import MenuItems from "./MenuItems.astro";
---

<header class="bg-base-200 shadow-md sticky top-0 z-10">
  <nav class="w-auto lg:w-5xl mx-2 lg:m-auto flex justify-between">
    <Image src={logoGray} alt={"logo"} class="py-3 w-14 lg:w-[80px]" />
    <div class="hidden flex-none content-center lg:block">
      <ul class="menu menu-horizontal menu-lg font-serif">
        <MenuItems />
      </ul>
    </div>
    <div class:list={["align-middle", "content-center", "lg:hidden"]}>
      <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block h-6 w-6 stroke-current"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
    </div>
    <div class="drawer-side">
      <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu bg-base-200 min-h-full w-80 p-4">
        <!-- Sidebar content here -->
        <li><a>Sidebar Item 1</a></li>
        <li><a>Sidebar Item 2</a></li>
      </ul>
    </div>
  </nav>
</header>
