---

---

<div class="hero min-h-screen" style="background-image: url(/header-home.jpg);">
  <div class="hero-overlay bg-stone-700/60"></div>
  <div class="hero-content text-neutral-content text-left">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold font-serif">Twoje biuro rachunkowe i księgowość w Warszawie</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti
        eaque aut repudiandae et a id nisi.
      </p>
      <button class="btn btn-primary btn-outline btn-xl">Get Started</button>
    </div>
  </div>
</div>
