---

---

<div class="hero min-h-screen" style="background-image: url(/src/assets/header-home.webp);" data-aos="fade-in">
    <div class="hero-overlay bg-transparent bg-gradient-to-r from-0% from-stone-600/90 to-transparent to-80%"></div>
    <div class="hero-content text-neutral-content text-left lg:w-5xl">
        <div class="flex justify-items-start w-full">
            <div class="max-w-md space-y-6" data-aos="fade-right" data-aos-delay="300">
                <h1 class="text-5xl font-bold font-serif">Twoje biuro rachunkowe i księgowość w Warszawie</h1>
                <p>
                    Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id
                    nisi.
                </p>
                <button class="btn btn-primary btn-outline btn-xl">Dowiedz się więcej</button>
            </div>
        </div>
    </div>
</div>
