---
import HeaderLink from "./HeaderLink.astro";
---

<>
  <li><HeaderLink href="/">O Nas</HeaderLink></li>
  <li><HeaderLink>Usługi</HeaderLink></li>
  <li><HeaderLink>Cennik</HeaderLink></li>
  <li><HeaderLink>Kontakt</HeaderLink></li>
</>
