---
import HeaderLink from './HeaderLink.astro';
---

<>
    <li><HeaderLink href="/">O nas</HeaderLink></li>
    <li><HeaderLink href="/uslugi">Usługi</HeaderLink></li>
    <li><HeaderLink href="/cennik">Cennik</HeaderLink></li>
    <li><HeaderLink href="/kontakt">Kontakt</HeaderLink></li>
</>
