---
import HeaderLink from './HeaderLink.astro';
---

<>
    <li><HeaderLink href="/">O nas</HeaderLink></li>
    <li><HeaderLink href="#">Usługi</HeaderLink></li>
    <li><HeaderLink href="/cennik">Cennik</HeaderLink></li>
    <li><HeaderLink href="#">Kontakt</HeaderLink></li>
</>
