---
import Reference from "./Reference.astro";
---

<div class="lg:w-2/3 mx-auto" data-aos="fade-up">
  <div class="carousel w-full">
    <Reference clientName="Netflix Polska" slideId={0} lastSlideId={3}>
      <p>
        Powierzam swoją księgowość Pani Grecie od około 2 lat i przez cały ten czas zawsze mogłam liczyć na fachową
        obsługę. Terminowość, rzetelność, umiejetność wyjaśnienia zawiłych dla mnie aspektów oraz wsparcie merytoryczne
        w rozwiązywaniu jakiś trudności związanych z prowadzeniem biznesu, to niewątpliwie ogromne zalety Pani Grety.
        Dodatkowym bonusem jest fakt, że przez cały ten czas, stawka za usługi ustalona na początku, nie wzrosła. To
        wszystko daje mi ogromny komfort pod kątem możliwości długofalowej współpracy i stabilnej, sympatycznej relacji
        zawodowej. Bo oprócz profesjonalizmu, Pani Greta jest bardzo otwartym i przyjaznym człowiekiem, dla którego
        klient nie jest kolejnym „punktem do odhaczenia”, tylko konkretną osobą z określonymi potrzebami biznesowymi.
      </p>
    </Reference>
    <Reference clientName="Ważny polski polityk" slideId={1} lastSlideId={3}>
      <p>
        Nowoczesne biuro księgowe, dobrze przygotowane i pozostające na bieżąco z szybko zmieniającymi się przepisami.
        Komunikacja jest zawsze bezproblemowa i uprzejma.
      </p>
    </Reference>
    <Reference clientName="Klient" slideId={2} lastSlideId={3}
      ><p>
        Nowoczesne biuro księgowe, dobrze przygotowane i pozostające na bieżąco z szybko zmieniającymi się przepisami.
        Komunikacja jest zawsze bezproblemowa i uprzejma.
      </p></Reference
    >
    <Reference clientName="Klient" slideId={3} lastSlideId={3} />
  </div>
</div>
