---

---

<div class="overflow-x-auto">
    <table class="table">
        <caption class="lg:text-base font-semibold leading-loose">Księga przychodów i rozchodów – abonament stały </caption>
        <thead class="bg-base-300">
            <tr>
                <th>Ilość dokumentów – wpisów</th>
                <th>Opłata miesięczna</th>
            </tr>
        </thead>
        <tbody>
            <tr class="hover:bg-base-300">
                <td>od 0 do 20 </td>
                <td>300,00 zł</td>
            </tr>
            <tr class="hover:bg-base-300">
                <td>każde dodatkowe 10 wpisów</td>
                <td>+ 60,00 zł</td>
            </tr>
        </tbody>
    </table>
</div>
