---
import WhyCard from "./WhyCard.astro";
---

<div class="flex flex-wrap gap-8 justify-evenly">
  <WhyCard title="Rzetelność">
    <p>Rzetelnie wspieramy naszych klientów we wszystkich sprawach podatkowych i księgowych.</p>
  </WhyCard>
  <WhyCard title="Dostępność">
    <p>
      Zawsze odpowiadamy na zapytania w tym samym dniu. Pracujemy od 9 do 17, ale w pilnych przypadkach jesteśmy
      dostępni dłużej.
    </p>
  </WhyCard>
  <WhyCard title="Nowoczesność">
    <p>Rzetelnie wspieramy naszych klientów we wszystkich sprawach podatkowych i księgowych.</p>
  </WhyCard>
  <WhyCard title="Elastyczność">
    <p>
      Zawsze odpowiadamy na zapytania w tym samym dniu. Pracujemy od 9 do 17, ale w pilnych przypadkach jesteśmy
      dostępni dłużej.
    </p>
  </WhyCard>
  <WhyCard title="Nowoczesność">
    <p>Rzetelnie wspieramy naszych klientów we wszystkich sprawach podatkowych i księgowych.</p>
  </WhyCard>
  <WhyCard title="Elastyczność">
    <p>
      Zawsze odpowiadamy na zapytania w tym samym dniu. Pracujemy od 9 do 17, ale w pilnych przypadkach jesteśmy
      dostępni dłużej.
    </p>
  </WhyCard>
</div>
