---

---

<div>
  <div class="divider divider-primary mb-10 lg:mb-16 max-w-full">
    <h1 class="font-serif text-3xl lg:text-6xl" data-aos="fade-up">Dlaczego PS Account?</h1>
  </div>
  <div class="m-auto max-w-xl">
    <p class="text-lg lg:text-2xl bolder text-center" data-aos="fade-up">
      PS Account to nowoczesne Biuro Księgowe specjalizujące się w kompleksowej obsłudze księgowej i kadrowej w
      szczególności w formie online. Oferujemy prowadzenie pełnych ksiąg rachunkowych i podatkowej księgi przychodów i
      rozchodów.
    </p>
  </div>
</div>
