---

---

<div>
    <div class="m-auto max-w-xl">
        <p class="text-lg lg:text-2xl bolder text-center" data-aos="fade-up">
            PS Account to nowoczesne Biuro Księgowe specjalizujące się w kompleksowej obsłudze księgowej i kadrowej w szczególności w formie online. Oferujemy
            prowadzenie pełnych ksiąg rachunkowych i podatkowej księgi przychodów i rozchodów.
        </p>
    </div>
</div>
